fastapi
uvicorn
pydantic
requests
psycopg[binary]
sqlalchemy
langchain-core
langgraph
langchain-google-genai
langchain-openai
langgraph-checkpoint-postgres
python-dotenv
typhoon-ocr
line-bot-sdk
alembic
asyncpg
beautifulsoup4
edge-tts
asyncio